.mainPracticesSection {
  margin-top: 203px;
}
.mainImageSection {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mainPracticesSection h3 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 143.02%;
  color: #ffffff;
}
.mainImageSection h5 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #fffbf2;
  margin-top: -50px;
}
