.mainIntroSection {
  display: flex;
  flex-direction: row;
  margin-top: 203px;
  gap: 10px;
}

.leftIntroSection,
.rightIntroSection {
  flex: 50%;
}
.rightIntroSection h4 {
  margin-left: 87px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 162.52%;
}
.paragraphContent p {
  margin-left: 87px;
  margin-top: 16px;
  opacity: 0.3;
}
.leftIntroSection {
  position: relative;
  top: 0;
  left: 0;
  border-right: 1px solid #6A6A6A;
}
