.mainSuccessSection {
    margin-top: 203px;
}
.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 143.02%;
  text-align: center;
  margin-bottom: 97px;
}
