.mainTeamSection {
  margin-top: 203px;
}
.teamHeding h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 143.02%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 109px;
}
.teamCard {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 50px;
  justify-content: space-between;
}
