.mainTeamSection {
  margin-top: 203px;
}
.teamHeding h3 {
  text-align: center;
  margin-bottom: 109px;
}
.teamCard {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 50px;
  justify-content: space-between;
}
