.mainAccordion {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  transition: 0.7s;
}
.mainAccordion .accrodionHeading {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.mainAccordion .accrodionHeading h4 {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.accordionContent p {
  padding-top: 30px;
}
.accrodionHeading button {
  border: none;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 2px;
  color: #000000;
  background: #e3b748;
  border-radius: 50%;
  padding: 4px 5px;
}
